
#PCookies_overbox {
  position: fixed;
  bottom: 0px;
  left: 0px;

  z-index: 999999;
  width: 100%;
  display: none;
  padding: 10px 23px;

  background-color: rgba(64, 63, 63, 0.92);
  color:#e0dfdf;
  font-size: 14px;
}

#PCookies_overbox .the_text {
  float: left;
}
#PCookies_overbox a {
  color:#fff; text-decoration: underline;
}
#PCookies_overbox button {
  float: right;
}
