
/*--- Height -------*/
#main_slider,
#main_slider .carousel {
    height: initial;
}

/*------- setGallerySize: false ---------*/
/* height manual */
/*
#main_slider .carousel {
    height: 380px;
}
#main_slider .carousel-cell {
    height: 100%;
}
*/

/* height, as percentage of width */
#main_slider .carousel {
  padding-bottom: 43.3%;
}
#main_slider .carousel .flickity-viewport {
  position: absolute;
  width: 100%;
}
#main_slider .carousel-cell {
  height: 100%;
}

/*------------------*/
#main_slider {
    padding: 0;
}
#main_slider .carousel {
    background: #333;
}

/*-- caption --*/
#main_slider .carousel-caption {
}

/*-- carousel-cell --*/
#main_slider .carousel-cell {
    width: 100%;
    margin-right: 5px;
}

#main_slider .carousel-cell-image {
    width: 100%;
    display: block;
    margin: 0 auto;
}

#main_slider .flickity-viewport {
  transition: height 0.2s;
}
